.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: var(--color-palette-dark-gray);
}
