:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #15161b;

  --color-palette-black: #000000;
  --color-palette-dark-gray: #15161b;
  --color-palette-blue: #646cff;
  --color-palette-orange: #fca311;
  --color-palette-gray: #e5e5e5;
  --color-palette-white: #ffffff;

  --color-main: var(--color-palette-white);
  --color-secondary: var(--color-palette-blue);
  --color-background: var(--color-palette-dark-gray);
  --color-highlight: var(--color-palette-blue);
  --color-highlight-reverse: var(--color-palette-orange);
  --color-shadow: var(--color-palette-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-main);
  text-decoration: none;
}

a:hover {
  color: var(--color-highlight);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #15161b;
    background-color: rgba(255, 255, 255, 0.87);

    --color-main: var(--color-palette-dark-gray);
    --color-secondary: var(--color-palette-dark-gray);
    --color-background: var(--color-palette-white);
    --color-highlight: var(--color-palette-orange);
    --color-highlight-reverse: var(--color-palette-blue);
    --color-shadow: var(--color-palette-gray);
  }
}
